/.DS_Store
/__pycache__/crop_class.cpython-33.pyc
/__pycache__/crop_resources.cpython-33.pyc
/__pycache__/crop_view_class.cpython-33.pyc
/__pycache__/manual_grow_dialog_class.cpython-33.pyc
/__pycache__/radio_button_widget.cpython-33.pyc